/EconomyVehicle.class
/OperationDeniedException.class
/Passenger.class
/PremiumVehicle.class
/RideScheduler.class
/RideSchedulerApplicationTest.class
/ShareableRide.class
/StandardPassenger.class
/StandardRide.class
/ValuePassenger.class
/Vehicle.class
